body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.search-section{
  display: flex;
  width: 100%;
  padding: 15px;
  background: gray;
  box-shadow: 1px 1px 2px white;
  position: sticky;
  top: 0;
  z-index: 99;
}
.view-all-btn{
  width: 150px;
  height: 50px;
  background: rgb(0, 81, 255);
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  text-transform: capitalize;
  padding: 5px 2px;
  align-self: center;
  justify-self: center;
  box-shadow: 5px 5px 5px gray;
}
.search-btn{
  background: rgb(7, 86, 233);
  color: white;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  width: 70px;
  padding: 2px;
  margin-left: 5px;
  border-radius: 10px;
  border: 1px solid rgb(73, 69, 69);
  box-shadow: 5px 5px 5px gray;
}

.view-all-btn:hover, .search-btn:hover{
  box-shadow: 2px 2px 2px gray;
}
.search-form{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-form input{
  width: 50%;
  height: 40px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.main {
  display: flex;
  width: 100%;
  min-height: 700px;
}
.pokemons-containner{
  width: 100%;
  /* padding: 0 50px 20px; */
  border-bottom: 1px solid;
  flex-grow: 1;
  background: linear-gradient(rgba(75, 75, 75, 0.4), rgba(85, 84, 87, 0.5), rgba(10,30, 10, 0.5));
}
.pokemons-body{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px;
}

.pokedex {
  border-left: 1px solid;
  width: 30%;
  background: linear-gradient(rgba(116, 115, 115, 0.1), rgba(112, 112, 112, 0.1),rgba(56, 48, 48, 0.1));
}
.team-header, .pokemon-header{
  font-size: 18px;
  font-weight: 800;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  letter-spacing: 0.6px;
  padding: 5px;
  margin: 0;
  justify-content: center;
}
.pokemons-list{
  width: 50%;
}

.pokedex {
  padding: 2px;
  border-bottom: 1px solid;
  flex-grow: 1;
  width: 40%;
}

.form-wrapper {
  margin-top: 20px;
  text-align: center;
}
table, th, td{
  border-bottom: 1px solid black;
  height: 50px;
}
.table {
  width: 100%;
}
.team-table{
  width: 100%;
}
.add-to-team-btn{
  font-size: 10px;
  background: rgb(4, 151, 29);
  padding: 3px 5px;
  border-radius: 5px;
  color: white;
}
.remove-from-team-btn{
  font-size: 10px;
  background: rgba(235, 2, 2, 0.892);
  padding: 3px 5px;
  border-radius: 5px;
  color: white;
}
.details-btn{
  font-size: 10px;
  background: black;
  padding: 3px 5px;
  border-radius: 5px;
  color: white;
}
.table-header{
  text-align: center;
  background: rgb(80, 78, 78);
  color: white;
  width: 100%;
}
.table-data{
  background: rgba(0, 0, 0, 0.104);
  margin-top: 2px;
  text-align: center;
}
.detail-header{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.pokemon-detals-containner{
  position: sticky;
  width: 40%;
}
.polemon-detail-table-body{
  text-align: center;
  text-align: end;
}
.pokemon-details-table{
  width: 100%;
  text-align: end;
}
.pokemon-names{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.pokemon-detail-value{
  font-size: 18px;
  font-weight: 500;
  color: rgb(3, 84, 3);
  text-transform: capitalize;
}
.pokemon-detail-key{
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}